@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đảm bảo sử dụng layout có header và footer
}

<!-- Video background -->
<video autoplay muted loop playsinline style="position: fixed; top: 0; left: 0; height: 100%; width: 100%; object-fit: cover; z-index: -1;">
    <source src="/assets/images/backmythwukong7.mp4" type="video/mp4" />
</video>

<!-- Nội dung chính (Forgot Password) -->
<div style="position: relative; min-height: calc(100vh - 100px); display: flex; justify-content: center; align-items: center; z-index: 1002; font-family: 'Orbitron', sans-serif; margin-top: 60px; margin-bottom: 40px;">
    <div class="text-center">
        <h1 style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">@ViewData["Title"]</h1>
        <h2 style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">Nhập Email Để Lấy Lại Mật Khẩu!</h2>
        <hr style="border-color: white;" />
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="background-color: rgba(255, 255, 255, 0.8); width: 500px;" />
                    <label asp-for="Input.Email" class="form-label" style="color: black;"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary" style="width: 500px !important; background-color: #171a21 !important; border: 1px solid aqua !important;">Đặt Lại Mật Khẩu </button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}