@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng Xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<video autoplay muted loop playsinline class="video-bg">
    <source src="/assets/images/blackmythwukong.mp4" type="video/mp4" />
    Trình duyệt của bạn không hỗ trợ video.
</video>

<!-- Lớp mờ overlay -->
<div class="overlay"></div>

<div class="logout-container logout-page">
    <h1>@ViewData["Title"]</h1>

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit">Bấm Vào Đây Để Đăng Xuất</button>
        </form>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
    }
</div>